$main-color: #ffffff
    
.footerWrapper
    padding: 20px
    background-color: $main-color
    margin-top: auto
    box-shadow: 10px 0 10px 2px  rgba(0,0,0,0.1)

    @media (max-width: 600px)
        padding: 10px

.linksContainer
    display: flex
    justify-content: space-around

    li
        padding: 5px

    a
        text-decoration: none

        &:hover
            color: red

    @media (max-width: 600px)
        flex-direction: column
        align-items: center
        gap: 10px
        

.copyright
    text-align: center
    margin-top: 1.25rem
    font-size: 14px

    @media (max-width: 600px)
        font-size: 12px
